.bg{
    /* background-image: url("../../Assests/learn/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%); */
    background: url("../../Assests/learn/bg-form.png");
}
.bg-main{
    background: url("../../Assests/learn/bg-learn.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-bg-main{
    font-family: Poppins;
    font-size: 40px;
    font-weight:bold;
    line-height: 40px;
    text-align: start;
}
.text-2{
font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #70BF29;
}