body {
  margin: 0;
  padding: 0;
}

.img {
  background-image: url("../../Assests/Home/Homebg.png");
}

.bg-workflow {
  background-color: #E1FDC9;
}

.bg-Test {
  background-image: linear-gradient(111.4deg, rgba(238, 113, 113, 1) 1%, rgba(246, 215, 148, 1) 58%);
}
.text-workflow{
font-family: Poppins;
font-size: 32px;
font-weight: 600;
line-height: 40px;
text-align: left;
color: #70BF29;
}
.service {
  background: linear-gradient(270deg, #70BF29 50.08%, #1A3403 80.92%);
}

.service-description {
  font-weight: 500;
  font-size: 15.34px;
  line-height: 24.99px;
  color: #8c8d8b;
}

.service-card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: transform 0.3s;
}

.service-card:hover {
  transform: translateY(-10px);
}

.service-img {
  max-width: 100px;
  height: auto;
}

.custom-btn {
  border-radius: 50px;
  color: #70BF29;
  border: 4px solid #70BF29;
  font-size: 16px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .service-card {
    height: 100%;
  }

  .service-description {
    font-weight: 500;
    font-size: 12.34px;
    line-height: 20.99px;
    color: #8c8d8b;
  }
}


.input input {
  border: none;
  outline: none;
  background-color: #E1FDC9;
}

.input ::placeholder {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #999999;
  top: 0%;
}
.text-area ::placeholder {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  color: #999999;
  top: 0%;
  left: 0%;
}

.section-subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
}

.section-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color:aliceblue;
}

.testimonial-card {
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.testimonial-company {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.testimonial-stars {
  margin-top: 5px;
}

.testimonial-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-top: 10px;
  gap: 0px;
  opacity: 0px;
}

@media (min-width: 768px) {
  .testimonial-card {
    height: 100%;
  }
  .text-workflow{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    }
}

@media (max-width: 768px) {
  .text-workflow{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    }
}
