.img {
    background-image: url("../../Assests/Home/Homebg.png");
}

.bg-workflow {
    background-color: #E1FDC9;
}

.box {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px,
        rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.description {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #70BF29
}

.para {
font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 32px;
text-align: left;
color: #8C8D8B;
}
.mission-img {
    width: 100%;
    height: auto;
    max-height: 75vh;
}


@media (max-width : 576px) {
    .description {
        font-weight: 500;
        font-size: 15px;
        line-height: 24px;
    }

    .para {
        font-family: Poppins;
        font-size: 15px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        color: #8C8D8B;
    }
}
@media (max-width: 768px) {
    .mission-img {
        max-height: 50vh;
    }
}

@media (max-width: 576px) {
    .mission-img {
        max-height: 40vh;
    }
}